<div class="pokemon-details-wrapper">
<div class="pokemon-details ">
<div class="py-2" style="background: rgb(76, 140, 44);">
<span class="pokemon-heading text-center text-white py-2"><h2>{{@model.name}}</h2></span>
</div>
<div class="pokemon-img mx-5">
<img class="w-100  mt-3" src={{@model.avatar}}/>
</div>
<div class="pokemon-features mx-5 align-middle">
<span>HEIGHT:{{@model.height}}</span>
<span>WEIGHT:{{@model.weight}}</span>
<span>TYPE:{{@model.types}}</span>
</div>
<HeavyWeight @weight={{@model.weight}}/>
</div>
</div>
